<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>

<body>
    <form>
        <h1>EDIT</h1>
        <div class="input-group">
            <input type="text" name="name" placeholder="Enter name . . ." value="{name}">
            <img src="/images/icons/user-name-icon.png" alt="icon">
            <p></p>
        </div>
        <div class="input-group">
            <input type="text" name="email" placeholder="Enter email . . . "  value="{email}">
            <img src="/images/icons/email-icon.png" alt="icon">
            <p></p>
        </div>
        <div class="input-group">
            <input type="password" name="password" placeholder="Enter password . . . " value="{password}">
            <img src="/images/icons/lock-icon.png" alt="icon">
            <img src="/images/icons/eye-close-icon.png" alt="icon" class="eye-icon">
            <p></p>
        </div>
        <div class="input-group">
            <input type="password" name="confirmPassword" placeholder="Enter confirm password . . . " value="{password}">
            <img src="/images/icons/lock-icon.png" alt="icon">
            <img src="/images/icons/eye-close-icon.png" alt="icon" class="eye-icon">
            <p></p>
        </div>
        <button>EDIT</button>
    </form>
    <script src="/js/edit.js" type="module"></script>
</body>

</html>